* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}
.container {
  width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #ae1477;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  list-style-type: none;
  display: flex;
}
.header__item {
  margin-left: 20px;
  height: 35px;
  transition: all 0.3s;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-radius: 5px 0 5px 0;
}
.header__item_active {
  border: 1px solid white;
  border-top: 3px solid white;
  border-right: 3px solid white;
}
.header__item:hover {
  border: 1px solid white;
  border-top: 3px solid white;
  border-right: 3px solid white;
}
.header__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
.header__link-fz {
  font-size: 30px;
}
.services {
  padding: 25px 0;
  background-color: #ffe1f5;
}
.services__title {
  text-align: center;
  font-size: 30px;
  color: #ae1477;
}
.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services__block {
  margin: 20px 0;
  width: 400px;
}
.services__block_img {
  width: 100%;
}
.services__block_img img {
  width: 100%;
}
.services__block_subtitle {
  font-size: 25px;
  color: #ae1477;
  font-weight: 600;
  margin-top: 15px;
}
.services__block_descr {
  color: #ae1477;
  margin-top: 20px;
  font-weight: 600;
}
.placeat {
  padding: 25px 0;
  background-color: #ae1477;
}
.placeat__title {
  text-align: center;
  font-size: 30px;
  color: #ffe1f5;
}
.placeat__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.placeat__block {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  padding: 35px;
  border-radius: 30px 0 30px 0;
  border: 1px solid #ffe1f5;
  border-top: 3px solid #ffe1f5;
  border-right: 3px solid #ffe1f5;
}
.placeat__block_img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.placeat__block_img img {
  width: 100%;
}
.placeat__block_number {
  margin-top: 25px;
  color: #ffe1f5;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}
.placeat__block_descr {
  margin-top: 20px;
  color: #ffe1f5;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1399px) {
  .container {
    width: 1140px;
  }
  .placeat__block_center {
    margin: 20px auto 0 auto;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .services__block {
    width: 325px;
  }
  .placeat__block_center {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .header {
    height: 100px;
  }
  .header .container {
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .services__block {
    width: 400px;
  }
  .placeat {
    padding: 15px 0;
  }
  .placeat__title {
    font-size: 25px;
  }
  .placeat__block {
    width: 250px;
    height: 250px;
    padding: 15px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .header {
    height: 135px;
  }
  .header__link-fz {
    font-size: 25px;
  }
  .header__logo {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .header__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header__item {
    margin: 5px 10px;
  }
  .placeat__wrapper {
    justify-content: center;
  }
  .placeat__block {
    margin: 20px 10px 0 10px;
  }
}
